:root {
     --title-color: #161C2D;
    --para-color: #8392A6;
    --brand-color: #3c4858;
    --active-color: #d42f8f;
    --btn-bg-color:#d42f8f;
    --btn-font-color: #ffffff;
    --bg-color: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    width: 60%;
}

