:root {
     --title-color: #161C2D;
    --para-color: #8392A6;
    --brand-color: #3c4858;
    --active-color:#ff5b69;
    --btn-bg-color:#ff5b69;
    --btn-highlight-color:#ff283a;
    --btn-font-color: #ffffff;
    --bg-color: #ffffff;
    --secondary-bg-color: #f8f9fc;
    --work-para-color: #8492a6 ;
    --border-color: rgba(0,0,0,.125);
    --active-box-shadow: rgba(255, 91, 105, 0.3);
    --box-shadow: rgba(60, 72, 88, 0.15);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    width: 60%;
}

